

{% block content %}


    <p>새 비밀번호를 입력해주세요</p>
    <form action="http://{{domain}}{% url 'user:reset_password_confirm' token=token %}" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>
                    <label>새 비밀번호:</label></td>
                <td><input type='password' name='password1'/></td>
            </tr>
            <tr>
                <td>
                    <label>확인 비밀번호:</label></td>
                <td><input type='password' name='password2'/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="비밀번호 변경" /></td>
            </tr>
        </table>
    </form>

{% endblock %}